.container{
	display: inline-flex;
	flex: 0 0 50px;
	align-items: center;
	justify-content: space-between;
	border: 2px solid rgb(217, 217, 217);
	margin: 2px 2px 2px 2px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	transition: all 0.1s ease;
}
.icon{
	display: inline-flex !important;
	height: auto !important;
	margin: 0 0 0 10px !important;
}
.header{
	display: inline-flex !important;
	height: auto !important;
	margin: 0 0 0 10px !important;
}
