@import "./theme.scss";
.container{
	display: flex;
	flex:1;
	padding: 0;
	--rangebk-color:#{$themeBackGroundColorThird};
	--rangebk-color-hover:#{$themeBackGroundColorThird};
	--progress-color: #{$themeColor};
	--progress-color-hover:#{mix($themeColor,rgba(255, 255, 255, 0.12))};
	--thumb-color:rgb(237, 237, 237);
	--thumb-color-hover:rgb(245, 240, 240);
	--thumb-shadow-hover:rgba(199, 197, 197, 0.59);
}
.seek{
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	padding: 0;
	margin: 0 auto;
	background-color: var(--rangebk-color);
	transition: all 0.3s ease;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.13);
	outline : none;

	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--val) - var(--min))/var(--range));
	--sx: calc(0.5*12px + var(--ratio)*(100% - 12px));
}
.seek:focus{
	outline: none;
}
.seek:hover {
  background-color: var(--rangebk-color-hover);
}
.seek::-webkit-slider-runnable-track {
	height: 100%;
	-webkit-appearance: none;
	background: linear-gradient(var(--progress-color), var(--progress-color)) 0/var(--sx) 100% no-repeat  var(--rangebk-color);
	border-radius: 5px;
}
.seek::-webkit-slider-runnable-track:hover{
	background: linear-gradient(var(--progress-color-hover), var(--progress-color-hover)) 0/var(--sx) 100% no-repeat var(--rangebk-color-hover);
}
.seek::-webkit-slider-thumb{
	-webkit-appearance: none;
 	width: 12px;
 	height: 12px;
	margin-top: -1px;
  	background-color: var(--thumb-color);
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 1px 1px 0px 0px rgb(207, 207, 207);
}
.seek::-webkit-slider-thumb:hover {
  	background-color: var(--thumb-color-hover);
 	box-shadow: 0px 0px 0px 5px var(--thumb-shadow-hover);
 	width: 15px;
 	height: 15px;
	margin-top: -2px;
}
.seek::-webkit-slider-thumb:active {
	box-shadow: 0px 0px 0px 5px var(--thumb-shadow-hover);
  	cursor: pointer;
}


/*FF*/
.seek::-moz-focus-outer {
    border: 0;
}
.seek::-moz-range-thumb{
  	width: 12px;
  	height: 12px;
   	background-color: var(--thumb-color);
	border:0;
 	border-radius: 100%;
 	cursor: pointer;
	box-shadow: 1px 1px 0px 0px rgb(207, 207, 207);
 }
.seek::-moz-range-thumb:hover {
  	background-color: var(--thumb-color-hover);
 	box-shadow: 0px 0px 0px 5px var(--thumb-shadow-hover);
}
.seek::-moz-range-thumb:active {
	box-shadow: 0px 0px 0px 5px var(--thumb-shadow-hover);
  	cursor: pointer;
}
.seek::-moz-range-track {
	height: 100%;
	background-color: var(--rangebk-color);
	border: none;
	border-radius: 5px;
}
.seek::-moz-range-progress{
	transition: all 0.3s ease;
	background-color: var(--progress-color);
	height: 100%;
	border-radius: 5px;
}
.seek::-moz-range-progress:hover{
	background-color: var(--progress-color-hover);
}
